<!-- Container (About Section) -->
<div  class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>About Us</h2><br>
      <h4>What makes Vedantu Superior</h4><br>
      <p>Our Elite group of teachers is a network of passionate individuals who want to contribute towards better learning outcomes and performance of students. Above all, we are a group focused on bringing happiness and joy through learning.</p>
      <p>In addition, we have put 10+ years of deep research on effective teaching methodologies and the same is incorporated in the recruitment and training processes for Teachers. You can always be rest assured that students are in safe hands.</p>

      <br><a class="btn btn-default btn-lg" routerLink="/login">Get in Touch</a>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>
